h2{
    text-decoration: underline;
}
.App{
margin-left: 35%;
width: 30%;
text-align: center;
background-color: rgb(186, 240, 219);
border:5px solid white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input {
width: 300px;
border: 5px solid turquoise;
}

.button0{
width: 300px;
}